 <!-- First Section -->
    
    
    
    <section id="Edit" class="mb-3">
            <div class="Dad container p-3">
            <div id="default" class="p-2">
                <h2 class="font-weight-bold">HR-System</h2>
            </div>
            <div class="Options text-left p-2">
            
            <div class="container text-left control">
    <label class="font-weight-bold p-2">Options:</label>
    <button class="btn border rounded mx-1" id="Delete"><i class="fas fa-trash-alt"></i></button>
    <button class="btn border rounded mx-1" id="EditEmpInfo"><i class="fas fa-edit"></i></button>
    <button class="btn border rounded mx-1" id="AddTask"><i class="fas fa-plus"></i></button>
    <button class="btn border rounded mx-1" id="OpenPerInfo"><i class="fas fa-user"></i></button>
    <button class="btn border rounded mx-1" id="OpenEmpPerInfo"><i class="fas fa-check"></i></button>
    </div>

        </div>
        </div>
        
  </section>    
    
    <!-- Delete Page -->
    <section id="FindIdDDark"><div class="FD">
    <section id="FindIdD"></section></div></section>
    <!-- -->
    
    <!-- Update Page -->
    
        <!-- Page 1 -->
    <section id="FindIdUDark"><div class="FU">
    <section id="FindIdU"></section></div></section>
         <!-- -->
    
        <!-- Page 2 -->
    <section id= "EditDark"><div class= "EdDark"><section id="EmpInfo1" class="text-left container-fluid"></section></div></section>
        <!-- -->
    
    <!-- -->
    
    
    
    <!-- Task Page -->
    
        <!-- Page 1 -->
    <section id="FindIdTDark"><div class="FT">
    <section id="FindIdT"></section></div></section>
         <!-- -->
    
        <!-- Page 2 -->
    <section id= "TaskDark"><div class= "TsDark"><section id="TaskInfo" class="text-left container-fluid"></section></div></section>
        <!-- -->
    
    <!-- -->
    
    
    <!-- Personal Page -->
    
        <!-- Page 1 -->
    <section id="FindIdPDark"><div class="FP">
    <section id="FindIdP"></section></div></section>
         <!-- -->
    
        <!-- Page 2 -->
    <section id= "PerDark"><div class= "PrDark"><section id="PerInfo" class="text-left container-fluid"></section></div></section>
        <!-- -->
    
    <!-- -->
    
    <!-- End of First Section -->
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    <!-- STart of Section 2 -->    
    <section id="AddNew" class="my-3">
    
    <div class="container text-left add">
    
    <button class="btn border rounded m-2" id="OpenEmpInfo">+</button>
    <label class="text-dark my-2 mx-1 text-justify">Add New Employee</label>
    
    
    </div>
    
    </section>
    
    
    <section id= "AddDark"><div class= "AdDark"><section id="EmpInfo" class="text-left container-fluid"></section></div></section>
    
    <!-- End of Section 2 -->
    
    
    <!-- Start of Section 3  -->
    
    
    <section class="Viewer">
    <div class="container EmplInfo">
            <div class="dick text-left"><h2 class="border rounded p-1">Employees Data</h2></div>
            <div>
                <div id="searchDiv"></div>
            <div id="myDiv"></div>
            </div>
            <br />

           
       <!-- <table id="Handle" class="table table-striped">
            <tbody>
            {{#each data}}
             <tr>
                 <td>{{this.id}}</td>
                 <td>{{this.EmployeeName}}</td>
                 <td>{{this.EmployeeName}}</td>
                 <td>{{this.EmployeeName}}</td>

             </tr>
             {{/each}}
            </tbody>

        </table>-->
        <table class="table table-strip">
        <thead>
            <tr>
                <td>id</td>
                <td>Name</td>
                <td>Age</td>
                <td>Department</td>
                <td>Status</td>
                <td>City</td>
            </tr>
        </thead>
        <tbody>
            {{#each emps}}
                <tr>
                    <td>{{id}}</td>
                    <td>{{EmployeeName}}</td>
                    <td>{{EmployeeAge}}</td>
                    <td>{{EmployeeDep}}</td>
                    <td>{{EmployeeState}}</td>
                    <td>{{EmployeeCity}}</td>
                </tr>
            {{/each}}
        </tbody>
    </table>

        </div>
    </section>

   
    
    <!-- End of Section 3  -->